


body {
    font-family: 'Arial', sans-serif;
    background-color: #f9f9f9;
}

.navbar {
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

h1, h2 {
    color: #333;
}

.card {
    border: none;
}

.card-title {
    font-weight: bold;
    color: #6a1b9a;
}

.text-center p {
    color: black;
}

p {
    line-height: 1.6;
}


.custom-image {
    position: relative;
    width: 70%; 
    max-width: 1600px;
    height: 500px; 
    border-radius: 50% 50% 0 0; 
    overflow: hidden; 
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); 
}

.custom-image img {
    width: 80%;
    height: 80%;
    object-fit: cover; 
    transform: scale(1.7); 
    transition: transform 0.3s ease; 
}

.main-banner .main-banner-wrapper,
.main-banner .image-left,
.main-banner .image-left img {
    height: 100%;
}

.main-banner {
    overflow: hidden;
}

.about-section {
    background-color: #f8f4fc;
    padding: 4rem 0;
  }
  .faq-section {
    background-color: #f5f0f9;
    padding: 2rem 0;
  }
  .connect-section {
    background-color: #e4d7ee;
    text-align: center;
    padding: 2rem 0;
  }
  .connect-section button {
    background-color: #8b5ba4;
    color: white;
    border: none;
    padding: 0.75rem 1.5rem;
    border-radius: 0.5rem;
  }

  .flip-image {
    transform: scaleX(-1);
   
}

.services-section{
    background-color: #f5f0f9;
}

.page-title{
    background-color: #f5f0f9;
}
:root {
    --dark-purple: #6a1b9a;
}


h1, h2, h3, h4, h5, h6 {
    color: var(--dark-purple);
    font-family: 'Playfair Display SC', serif;
}


.btn-primary {
    background-color: var(--dark-purple);
    border-color: var(--dark-purple);
    font-family: 'Playfair Display SC', serif;
}


.btn-primary:hover {
    background-color: #8b5ba4;  
    border-color: #6a1b9a;      
}



.navbar .nav-link {
    color: #6a1b9a; 
}


.navbar .nav-link:hover {
    color: #8b5ba4;
}

.btn-outline-primary {
    color: #8b5ba4; 
    border-color: #8b5ba4; 
}

.btn-outline-primary:hover {
    background-color: #8b5ba4; 
    color: white; 
    border-color: #6a1b9a; 
}

h4 {
    font-size: 1.2rem; 
}

.footer {
    background-color: white; 
    color: #6a1b9a;
}

.footer a {
    color: #6a1b9a; 
    text-decoration: none; 
    margin-right: 15px;
}

.footer a:hover {
    color: #8b5ba4; 
    
}


.footer .search-box button {
    background-color: #6a1b9a; 
    color: white; 
    border: none; 
}

.footer .search-box button:hover {
    background-color: #8b5ba4; 
}

h1.display-4,
p {
    color: black; 
}

.social-icons a {
    margin: 0 10px; 
    font-size: 36px; 
}

.social-icons a:hover {
    color: #6a1b9a; 
}

.social-icons {
    flex-direction: row; 
}
.footer-links, .search-box {
    margin: 0 10px; 
}

@media (max-width: 991px) {
    .footer-links, .search-box {
        display: none;
    }
    .social-icons {
        display: flex;
        justify-content: center; 
        align-items: center; 
        flex: 1; 
    }
}
